{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "import",
    "react-hooks",
    "@tanstack/query",
    "prettier",
    "only-warn"
  ],
  "rules": {
    "@tanstack/query/exhaustive-deps": "warn",
    "@tanstack/query/stable-query-client": "warn",
    "@tanstack/query/no-rest-destructuring": "warn",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unnecessary-type-constraint": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-unsafe-declaration-merging": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "warn",
    "react/display-name": "off",
    "react/prop-types": "off",
    "react/no-unknown-property": ["warn", { "ignore": ["css"] }],
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "lf",
        "singleQuote": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
