body {
  margin: 0;
  height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overscroll-behavior: none;

  *:focus-visible {
    outline: none;
  }
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

* {
  -webkit-tap-highlight-color: transparent;
}
